body{
    font:14px/1.3 'Segoe UI',Arial, sans-serif;
    background: #a4bbcc;
    color:#ffffff;
}
/* Table header decoration*/
th{
    text-decoration:underline;
}
/* Navigation Bar CSS */
nav  {
     display: block;
     width: 100%;
     overflow: hidden;
}

nav ul {
    font:20px/1 Lobster,Arial,sans-serif;
    list-style:none;
    margin:0px;
    padding:0;
    width:203px;
    border-radius: 15px;
    clear:both;
    margin-left: auto;
    margin-right: auto;
}

nav ul li {
    display:inline
}

nav ul li a {
    text-decoration:none;
    padding:5px 0;
    width:100px;
    background: #616975;
    color: #ffffff;
    float:left;
    text-align:center;
    border-left:1px solid #fff;
}

nav ul li a:hover {
    background: #26ade2;
    color:#ffffff;
}

nav li:first-child a {
    border-left: 0;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

nav li:last-child a {
    border-right: 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

input[type=text] {
    padding: 5px;
    font-size: 15px;
    text-shadow: 0px 1px 0px #fff;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #616975;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
}
    input[type=text]:focus {
        border: 1px solid #fafafa;
        -webkit-box-shadow: 0px 0px 6px #26ade2;
        -moz-box-shadow: 0px 0px 5px #26ade2;
        box-shadow: 0px 0px 5px #26ade2;
    }
/* placement modification classes*/
.center {
    margin-left: auto;
    margin-right: auto;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}
/* button class - green*/
.btn{
    background-color: #7FBF4D;
    border: 1px solid #63A62F;
    border-bottom: 1px solid #5B992B;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
    -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
    box-shadow: inset 0 1px 0 0 #96ca6d;
    color: white;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 7px 0 8px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #4C9021;
    padding: 10px;
}
    .btn:hover {
        background-color: #76b347;
        -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
        -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
        box-shadow: inset 0 1px 0 0 #8dbf67;
        cursor: pointer;
    }
/* A well to use for forms and other decorative divs */
.well{
    font: bold 17px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana;
    /*font:18px/1 Lobster,Arial,sans-serif;*/
    background: #c0c0c0;
    color:#ffffff;
    border: 1px solid #616975;
    padding:10px;
    border-radius: 5px;
    margin-top:20px;
    margin-bottom:20px;
}
.hide-overflow{
    overflow : hidden ;
}
/* game -- define the size of games used to generate table*/
.game{
    width:100px;
    height:150px;
    font:12px/1.3 'Segoe UI',Arial, sans-serif;
    margin:20px;
}
.game-title{
    font:17px/1 Lobster,Arial,sans-serif;
}
/* hover -- change background and pointer when hovering over class */
.hover{

}
    .hover:hover {
        background: #26ade2;
        cursor: pointer;
        border-radius: 2px;
    }
/* main page container that all components are inserted*/
#container {
    width:800px;
}
/* the popup message box*/
#message-box {
    background: #000000;
    position: fixed;
    padding:10px;
    border-radius: 3px;
    right:50px;
    top:50px;
    display:none;
}

